body {
  background: #eff0f2;
}

p {
  margin: 0;
  font-size: 14px;
}

.grayBox {
  margin-top: 20px;
  background: #fff;
  border-radius: 5px;
}


.timeFont {
  font-size: 12px;
  color: gray;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}